{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}

<form class="form-horizontal" id="form" method="post" action=".">
       {% csrf_token %}
       <div class="form-group">
             <label class="col-sm-3 control-label">IP Address</label>
             <div class="col-sm-6">
             <input class="form-control" id="id_ip" maxlength="20" name="ip" type="text">
             {{ form.ip.errors }}
             </div>
       </div>
       <div class="form-group">
             <label class="col-sm-3 control-label">Hostname</label>
             <div class="col-sm-6">
             <input class="form-control" id="id_name" maxlength="30" name="name" type="text">
             {{ form.name.errors }}
             </div>
        </div>
        <div class="form-group">
             <label class="col-sm-3 control-label">Application</label>
             <div class="col-sm-6">
             <input class="form-control" id="id_application" maxlength="20" name="application" type="text">
             {{ form.application.errors }}
             </div>
        </div>
        <div class="form-group">
             <label class="col-sm-3 control-label">Remark</label>
             <div class="col-sm-6">
             <input class="form-control" id="id_remark" maxlength="50" name="remark" type="text">
             {{ form.remark.erors }}
             </div>
         </div>
         <div class="col-sm-offset-8 col-sm-10">
             {% ifequal action 'add' %}
                 <button type="submit" class="btn btn-primary">Add</button>
             {% endifequal %}
             {% ifequal action 'edit' %}
                 <button type="submit" class="btn btn-primary" name="operate" value="update">Update</button>
             {% endifequal %}
        </div>

</form>

{% endblock %}
